
/* @media (min-width: 387px){
     #cart{
      text-align: center;
      color: red;
      background-color: red;
      
    }
  } */
  /* @media (min-width: 317px) and (max-width: 387px) {
    nav #cart{
        text-align: center;
        color: red;
        background-color: red;
        
      }
  } */